<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Encryption App</title>
</head>
<body>
    
<h1>Welcome to Image Encryption/Decryption App!</h1>
    {% block content %}{% endblock %}
    <input id='key-textbox' type='text'> <!-- replace type to 'password' -->
    <button id='encrypt-button' type="button" class="btn btn-encrypt">Encrypt</button>
    <button id='decrypt-button' type="button" class="btn btn-decrypt">Decrypt</button>

<script> // JS 

    // Key Texbox
    const key_textbox = document.getElementById('key-textbox');
    key_textbox.setAttribute('placeholder', 'Enter key')

    // Encrypt Button
    const encrypt_button = document.getElementById('encrypt-button');
    encrypt_button.addEventListener('click', function(){
        console.log(key_textbox.value);
        alert('Encrypted with key ' + key_textbox.value); // Replace function with encrypt image display/download
    });


    // Decrypt Button
    const decrypt_button = document.getElementById('decrypt-button');
    decrypt_button.addEventListener('click', function(){
        alert('Decrypted with key ' + key_textbox.value); // Replace function with decrypt image display/download
    });
</script>
</body>
</html>

